/**
 * 全局主题变量配置
 */
 @charset "utf-8";

 $base-color-primary-btn:linear-gradient(to right,#386aff,#75aef3 ,#1b82ff);
 $base-color-primary-Bg:linear-gradient(to right,#386aff,#6aa2ff );
 
 //字体颜色
 $font-text-color:#62628d;

 //主题颜色
 $color-bg:#409eff;
 $bgcolor-hover:#ecf5ff;
 //边框颜色
 $border-color:#dcdfe6;

 
 