<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0">
    <title>Abouts_us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/main.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/header.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/footer.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/abouts_us.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/bootstrap.css">

    <script type="text/javascript" src="__CDN__/assets/js/faq/jquery-3.4.0.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/header.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/main.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/abouts_us.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div class="abouts_us">
      <header class="el-header">
        <div class="navbar navbar-dark flex align-center justify-between">
            <div class="navbar--ul collaspse_ul">
                <div class="navbar-logo">
                  <a href="#">
                    <img src="__CDN__/assets/img/faq/logo.png">
                    <span>町町信息科技</span>
                    <span class="to">®</span>
                  </a>
                  
                </div>
                <ul class="navbar_ul--list">
                  <li>
                    <a href="{:url('/')}">Home</a>
                  </li>
                  <li>
                    <a href="{:url('index/index/Support')}">Support</a>
                  </li>
                  <li>
                    <a href="{:url('index/index/Partner')}">Abouts us</a>
                  </li>
                </ul>
            </div>
            <div class="navbar-user flex align-center">
              <a>
                <div class="icon dropleft">
                  <a class="dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-expanded="false"> 
                    <i class="bi bi-globe" ></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="#">简体中文</a>
                    <a class="dropdown-item" href="#">日本语</a>
                    <a class="dropdown-item" href="#">English</a>
                  </div>
                </div>
              </a>
              <a href="{:url('index/user/wmslogin')}" class="login">
                <button>LOGIN</button>
              </a>
              <a href="{:url('index/user/wmsregister')}" class="setup"><button>Set up</button></a>
              <a class="menu" id="toggle">
                <span></span>
              </a>
            </div>
        </div>
        <div class="navbar--list " id="navbar">
          <li>
            <a href="#">Products</a>
          </li>
          <li>
            <a href="#">Resoures</a>
          </li>
          <li>
            <a href="#">Abouts us</a>
          </li>
        </div>
    </header>
    </div>
    <section class="bg-header">
      <div class="navbar_user--content-text">
        <div class="navbar_user_banner">
            <div class="title">关于我们</div>
            <div class="subtitle">创建更智能的解决方案以帮助企业发展</div>
        </div>
      </div>
    </section>
    <section class="about-info">
      <div class="container">
        <div class="row">
          <div  class="col-sm-12 introduction">
            <div class="introduction--title">我们是谁</div>
            <div class="introduction--content">町町信息技术有限公司是一家SaaS公司，其成立的理念是让亚马逊卖家能够轻松扩展业务，并通过一套用户友好的解决方案成为畅销产品。这个想法源于为在线卖家提供易于使用的“商业酷”解决方案以支持他们在销售过程中的业务的概念。</div>
          </div>
          <div  class="col-sm-12 introduction">
            <div class="introduction--title">为什么选择我们</div>
            <div class="introduction--content">凭借经验丰富的全球团队和才华横溢的技术人员，包括久经考验的亚马逊卖家，我们致力于利用多年来积累的知识、经验和解决方案为其他亚马逊卖家提供支持。作为主题专家，我们在广泛主题方面的丰富经验将指导您避免大多数卖家常见的陷阱，并走上成功之路。当卖家有反馈可以改进 町町信息 解决方案时，町町信息 将利用相关技术来整合这些建议。在 町町信息，我们与卖家密切合作以确保他们的成功，我们称之为“客户成功”</div>
          </div>
          <div  class="col-sm-12 introduction">
            <div class="introduction--title">我们的使命和愿景</div>
            <div class="introduction--content flex align-center flex-wrap" style="margin-top: 20px;">
                <div class="col-sm-6 mission">
                    <div class="mission_img">
                      <img src="__CDN__/assets/img/faq/icon_bigtracker_01.png">
                    </div>
                    <div class="mission--text">
                      <div class="mission--text--title">使命</div>
                      <div class="mission--text--subtitle">为在线卖家提供创新解决方案，使其在全球范围内取得成功。</div>
                    </div>
                </div>
                <div class="col-sm-6 mission">
                  <div class="mission_img">
                    <img src="__CDN__/assets/img/faq/icon_bigcrm_pro_04.png">
                  </div>
                  <div class="mission--text">
                    <div class="mission--text--title">愿景</div>
                    <div class="mission--text--subtitle">向任何地方的任何人传递卖家的成功。</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact_us">
      <div class="container">
        <div class="row">
            <h1>Contact Us</h1>
            <div class="contact_us--subtitle">Questions, comments, feedback? We'd love to hear from you!</div>
        </div>
        <div class="contact_us--from">
          <div class="col-lg-6">
            <p>
              <select class="section--option">
                <option>123456</option>
              </select>
            </p>
            <p>
              <input class="section--input" placeholder="Your name *" value="">
            </p>
            <p>
              <input class="section--input" placeholder="Email *" value="">
            </p>
            <p>
              <input class="section--input" placeholder="Phome numer *" value="">
            </p>
          </div>
          <div class="col-lg-6">
              <p>
                <textarea class="from--textarea" placeholder="Share you thoungs *" value=""></textarea>
              </p>
              <p>
                <input class="section--input" placeholder="Phome numer *" value="" style="margin-top: 19px;">
              </p>
              <p>
                <div class="section--btn">SEND</div>
              </p>
          </div>
        </div>
        <div class="location">
          <div class="col-lg-6">

          </div>
          <div class="col-lg-6 Location--information">
              <div class="china_supports">China supports</div>
              <div class="busines_hours flex align-center">
                <div class="title">Business hours:</div>
                <span>周一至周五上午 9 点至下午 6 点（美国东部标准时间）</span>
              </div>
              <div class="busines_hours flex align-center">
                <div class="title">Phome:</div>
                <span>+086 124-456-789</span>
              </div>
              <div class="busines_hours flex align-center">
                <div class="title">Email:</div>
                <span>周一至周五上午 9 点至下午 6 点（美国东部标准时间）</span>
              </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer_content">
      <div class="footer_content--list">
            <div class="footer_content--header">
              <div class="Follow_us">关注我们</div>
              <div class="Follow_us--list">
                  <i class="icon agency_banner_01"></i>
                  <i class="icon icon_weibo"></i>
                  <i class="icon icon_twitter"></i>
                  <i class="icon icon_in"></i>
              </div>
            </div>
            <div class="footer_content--join_us">
                <ul>
                  <li>Products</li>
                  <li>Support</li>
                  <li>Abouts us</li>
                </ul>
                <div>
                  <img src="__CDN__/assets/img/faq/giige.png">
                </div>
            </div>
            <div class="footer_area">
              <ul>
                <li>法律声明</li>
                <li>阳光准则</li>
                  <li>网站地图</li>
                  <li>粤网文【2017】6138-1456号</li>
                  <li>粤B2-20090059</li>
                  <li>粤公网安备 44030502008569号</li>
              </ul>
              <p>Copyright © 1998 - 2022 Tencent. All Rights Reserved. 町町信息科技有限公司 版权所有</p>
            </div>
      </div>
    </footer>
  </body>
</html>