<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0">
    <title>FaqSport</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/main.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/header.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/index.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/bootstrap.css">

    <script type="text/javascript" src="__CDN__/assets/js/faq/jquery-3.4.0.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/js/header.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/js/main.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/js/index.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
      <header class="el-header">
          <div class="navbar navbar-dark flex align-center justify-between">
              <div class="navbar--ul collaspse_ul">
                  <div class="navbar-logo">
                    <a href="{:url('/')}">
                      <img src="__CDN__/assets/img/faq/logo.png">
                      <span>町町信息科技</span>
                      <span class="to">®</span>
                    </a>
                    
                  </div>
                  <ul class="navbar_ul--list">
                    <li>
                      <a href="{:url('/')}">Home</a>
                    </li>
                    <li>
                      <a href="{:url('index/index/Support')}">Support</a>
                    </li>
                    <li>
                      <a href="{:url('index/index/Partner')}">Abouts us</a>
                    </li>
                  </ul>
              </div>
              <div class="navbar-user flex align-center">
                <a>
                  <div class="icon dropleft">
                    <a class="dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-expanded="false"> 
                      <i class="bi bi-globe" ></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown10">
                      <a class="dropdown-item" href="#">简体中文</a>
                      <a class="dropdown-item" href="#">日本语</a>
                      <a class="dropdown-item" href="#">English</a>
                    </div>
                  </div>
                </a>
                <a href="{:url('index/user/wmslogin')}" class="login">
                  <button>LOGIN</button>
                </a>
                <a href="{:url('index/user/wmsregister')}" class="setup"><button>Set up</button></a>
                <a class="menu" id="toggle">
                  <span></span>
                </a>
              </div>
          </div>
          <div class="navbar--list " id="navbar">
            <li>
              <a href="#">Products</a>
            </li>
            <li>
              <a href="#">Resoures</a>
            </li>
            <li>
              <a href="#">Abouts us</a>
            </li>
          </div>
      </header>
      <section class="bg-header">
        <div class="navbar_user--content-text">
            <div class="title">Amazon AI Repricer</div>
            <div class="title_repeicer">Amazon Repricer intensifies Buy Box Wins with Results-Proven AI Repricing</div>
            <div class="navbar_user--content-btn flex align-center flex-wrap">
                <buttom class="btn">START 14 DAY FREE TRIAL</buttom>
                <buttom class="btn watch_now">Watch Now</buttom>
            </div>
        </div>
      </section>
      <section>
        <div class="Strategies_to_Dominate">
            <div class="strategies_text">
              <div class="strategies_text--title">Impactful AI Strategies to Dominate</div>
              <div class="strategies_text--insanelt">Insanely powerful AI strategies to race ahead of your competition.</div>
              <div class="strategies_text--content">Aggressive. Intelligent. Performance-Driven. BQool's all-new AI-Powered (Machine Learning) Amazon Repricer employs next-generation technology to drive unparalleled repricing performance. Leveraging data-driven algorithms and billions of data points, BQool's AI Repricer has been rigorously tested and is based on proven repricing results. This AI Repricer includes 5 simple-to-use, yet insanely powerful strategies that can maximize sales, increase profit and raise Buy Box price. So, whether your goal is to increase sales velocity or generate the greatest amount of profit, these strategies are flexible and robust enough to cater to your business needs. Prepare to push the limits of what you thought was possible with BQool's all-new Amazon AI Repricer.</div>
            </div>
            <div class="strategies_img">
                <img src="__CDN__/assets/img/faq/img-ai-powered_01.png">
            </div>
        </div>
      </section>
      <section>
        <div class="Strategies_to_Dominate">
          <div class="strategies_img">
            <img src="__CDN__/assets/img/faq/img-ai-powered_02.png">
          </div>
          <div class="strategies_text">
            <div class="strategies_text--title">Impactful AI Strategies to Dominate</div>
            <div class="strategies_text--insanelt">Insanely powerful AI strategies to race ahead of your competition.</div>
            <div class="strategies_text--content">Aggressive. Intelligent. Performance-Driven. BQool's all-new AI-Powered (Machine Learning) Amazon Repricer employs next-generation technology to drive unparalleled repricing performance. Leveraging data-driven algorithms and billions of data points, BQool's AI Repricer has been rigorously tested and is based on proven repricing results. This AI Repricer includes 5 simple-to-use, yet insanely powerful strategies that can maximize sales, increase profit and raise Buy Box price. So, whether your goal is to increase sales velocity or generate the greatest amount of profit, these strategies are flexible and robust enough to cater to your business needs. Prepare to push the limits of what you thought was possible with BQool's all-new Amazon AI Repricer.</div>
          </div>
      </div>
    </section>
    <section>
      <div class="product_echar--list">
        <div class="product_echar_list">
          <div class="list">
              <div class="list_product_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-dash-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                </svg>
              </div>
              <div class="product_quantity">4489</div>
              <div class="product_text">件商品</div>
          </div>
          <div class="list">
            <div class="list_product_img">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="39" height="39" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 33L26 35C26 35 41 32 43 32C45 32 45 34 43 36C41 38 34 44 28 44C22 44 18 41 14 41C10 41 4 41 4 41" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4 29C6 27 10 24 14 24C18 24 27.5 28 29 30C30.5 32 26 35 26 35" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 18V10C16 8.89543 16.8954 8 18 8H42C43.1046 8 44 8.89543 44 10V26" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  <rect x="25" y="8" width="10" height="9" fill="#fff" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="product_quantity">254720</div>
            <div class="product_text">件发货</div>
          </div>
          <div class="list">
            <div class="list_product_img">
              <?xml version="1.0" encoding="UTF-8"?><svg width="39" height="39" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><g><g><rect fill-opacity="0.01" fill="#FFFFFF" x="0" y="0" width="48" height="48" stroke-width="4" stroke="none" fill-rule="evenodd"/><polyline stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" points="4 30 9 6 9 6 39 6 44 30" fill="none" fill-rule="evenodd"/><polygon stroke="#fff" stroke-width="4" fill="#fff" fill-rule="nonzero" stroke-linejoin="round" points="4 30 14.9090909 30 16.7272727 36 31.2727273 36 33.0909091 30 44 30 44 43 4 43"/><polyline stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" points="19 19.2142857 23 24 31 16" fill="none" fill-rule="evenodd"/></g></g></svg>
            </div>
            <div class="product_quantity">9999999</div>
            <div class="product_text">件收货</div>
          </div>
          <div class="list">
            <div class="list_product_img">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-dash-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
              </svg>
            </div>
            <div class="product_quantity">9999999</div>
            <div class="product_text">件退货</div>
          </div>
          <div class="list">
            <div class="list_product_img">
              <?xml version="1.0" encoding="UTF-8"?><svg width="39" height="39" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><path d="M39 32H13L8 12H44L39 32Z" fill="#fff"/><path d="M3 6H6.5L8 12M8 12L13 32H39L44 12H8Z" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><circle cx="13" cy="39" r="3" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><circle cx="39" cy="39" r="3" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </div>
            <div class="product_quantity">9999999</div>
            <div class="product_text">件采购</div>
          </div>
          <div class="list">
            <div class="list_product_img">
              <?xml version="1.0" encoding="UTF-8"?><svg width="39" height="39" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><path d="M18 8H11C10.4477 8 10 8.44772 10 9V43C10 43.5523 10.4477 44 11 44H39C39.5523 44 40 43.5523 40 43V9C40 8.44772 39.5523 8 39 8H32" stroke="#fff" stroke-width="4"/><path d="M18 13V8H21.9505C21.9778 8 22 7.97784 22 7.9505V6C22 4.34315 23.3431 3 25 3C26.6569 3 28 4.34315 28 6V7.9505C28 7.97784 28.0222 8 28.0495 8H32V13C32 13.5523 31.5523 14 31 14H19C18.4477 14 18 13.5523 18 13Z" fill="#fff" stroke="#fff" stroke-width="4"/></svg>
            </div>
            <div class="product_quantity">9999999</div>
            <div class="product_text">件事务</div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="Impactful">
        <div class="strategies_text">
          <div class="strategies_text--title">Impactful AI Strategies to Dominate</div>
          <div class="strategies_text--insanelt">A streamlined and intuitive setup for quick deployment.</div>
          <div class="strategies_text--content">
            Gone are the days of painstakingly complex Amazon repricer setup. For all its performance and flexibility, BQool's AI-Powered Repricer is strikingly simple to setup and deploy. With just five robust rules that covers all your repricing requirements and only a handful of settings to configure, the AI Repricer can be effortlessly configured and deployed in a matter of minutes. BQool's next generation AI Repricer features a streamlined setup without compromising on performance.
          </div>
          <div class="strategies_text--tag"></div>
          <div class="strategies_text--time">
            · Minimal setup time
          </div>
          <div class="strategies_text--time">
            · Quick deployment
          </div>
        </div>
        <div class="strategies_img">
          <img src="__CDN__/assets/img/faq/img-ai-powered_03.png">
        </div>
    </div>
  </section>
  <section>
      <div class="Impactful_content--l">
        <div class="Impactful-content">
            <div class="strategies_img">
              <img src="__CDN__/assets/img/faq/img-repricing_04.png">
            </div>
            <div class="strategies_text">
              <div class="strategies_text--title">Impactful AI Strategies to Dominate</div>
              <div class="strategies_text--insanelt">A streamlined and intuitive setup for quick deployment.</div>
              <div class="strategies_text--content">
                Gone are the days of painstakingly complex Amazon repricer setup. For all its performance and flexibility, BQool's AI-Powered Repricer is strikingly simple to setup and deploy. With just five robust rules that covers all your repricing requirements and only a handful of settings to configure, the AI Repricer can be effortlessly configured and deployed in a matter of minutes. BQool's next generation AI Repricer features a streamlined setup without compromising on performance.
              </div>
              <div class="strategies_text--tag"></div>
              <div class="strategies_text--time">
                · Minimal setup time
              </div>
              <div class="strategies_text--time">
                · Quick deployment
              </div>
            </div>
        </div>
      </div>
    </section>
    <section>
      <div class="resources--list">
        <div class="resources">
            <div class="resources_header">
                <div class="resources_header--title">Resources</div>
                <div class="resources_header--subtitle">Our resources are best practical, prompts, and knows Amazon business. </div>
            </div>
            <div class="resources_business">
              <div class="resources_business--list">
                  <div class="business_lst">
                      <a href="#">
                        <div class="business_list--content">
                          <span>Powerful supply information</span>
                        </div>
                        <img src="__CDN__/assets/img/faq/welcome_resources_01.png">
                      </a>
                  </div>
                  <div class="business_lst">
                    <a href="#">
                      <div class="business_list--content">
                        <span>Simulated information system, operation information system</span>
                      </div>
                      <img src="__CDN__/assets/img/faq/welcome_resources_02.png">
                    </a>
                  </div>
                  <div class="business_lst">
                      <a href="#">
                        <div class="business_list--content">
                          <span>Powerful supply information</span>
                        </div>
                        <img src="__CDN__/assets/img/faq/welcome_resources_03.png">
                      </a>
                  </div>
                  <div class="business_lst">
                    <a href="#">
                      <div class="business_list--content">
                        <span>Powerful supply information</span>
                      </div>
                      <img src="__CDN__/assets/img/faq/welcome_resources_04.png">
                    </a>
                  </div>
              </div>
              <div class="resources_business--seo">
                <div class="seo_list">
                  <a href="#">
                    <div class="resources_business--content">
                      <span>Powerful supply information</span>
                    </div>
                    <img src="__CDN__/assets/img/faq/welcome_resources_05.png">
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
      <div class="wraper">
        <div class="wraper_lis">
            <div class="wraper_lis--list">
              <img src="static/welcome_partnerships01.png">
            </div>
            <div class="wraper_lis--list">
              <img src="static/welcome_partnerships02.png">
            </div>
        </div>
      </div>
     
      <footer class="footer_content">
        <div class="footer_content--list">
              <div class="footer_content--header">
                <div class="Follow_us">关注我们</div>
                <div class="Follow_us--list">
                    <i class="icon agency_banner_01"></i>
                    <i class="icon icon_weibo"></i>
                    <i class="icon icon_twitter"></i>
                    <i class="icon icon_in"></i>
                </div>
              </div>
              <div class="footer_content--join_us">
                  <ul>
                    <li>Home</li>
                    <li>Support</li>
                    <li>Abouts us</li>
                  </ul>
                  <div>
                    <img src="__CDN__/assets/img/faq/giige.png">
                  </div>
              </div>
              <div class="footer_area">
                <ul>
                  <li>法律声明</li>
                  <li>阳光准则</li>
                    <li>网站地图</li>
                    <li>粤网文【2017】6138-1456号</li>
                    <li>粤B2-20090059</li>
                    <li>粤公网安备 44030502008569号</li>
                </ul>
                <p>Copyright © 1998 - 2022 Tencent. All Rights Reserved. 町町信息科技有限公司 版权所有</p>
              </div>
        </div>
      </footer>
  </body>
</html>