<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0">
    <title>Abouts_us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/main.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/header.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/footer.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/Partner.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/bootstrap.css">

    <script type="text/javascript" src="__CDN__/assets/js/faq/jquery-3.4.0.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/header.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/main.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/abouts_us.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div class="abouts_us">
      <header class="el-header">
        <div class="navbar navbar-dark flex align-center justify-between">
            <div class="navbar--ul collaspse_ul">
                <div class="navbar-logo">
                  <a href="#">
                    <img src="__CDN__/assets/img/faq/logo.png">
                    <span>町町信息科技</span>
                    <span class="to">®</span>
                  </a>
                  
                </div>
                <ul class="navbar_ul--list">
                  <li>
                    <a href="{:url('/')}">Home</a>
                  </li>
                  <li>
                    <a href="{:url('index/index/Support')}">Support</a>
                  </li>
                  <li>
                    <a href="{:url('index/index/Partner')}">Abouts us</a>
                  </li>
                </ul>
            </div>
            <div class="navbar-user flex align-center">
              <a>
                <div class="icon dropleft">
                  <a class="dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-expanded="false"> 
                    <i class="bi bi-globe" ></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="#">简体中文</a>
                    <a class="dropdown-item" href="#">日本语</a>
                    <a class="dropdown-item" href="#">English</a>
                  </div>
                </div>
              </a>
              <a href="{:url('index/user/wmslogin')}" class="login">
                <button>LOGIN</button>
              </a>
              <a href="{:url('index/user/wmsregister')}" class="setup"><button>Set up</button></a>
              <a class="menu" id="toggle">
                <span></span>
              </a>
            </div>
        </div>
        <div class="navbar--list " id="navbar">
          <li>
            <a href="#">Products</a>
          </li>
          <li>
            <a href="#">Resoures</a>
          </li>
          <li>
            <a href="#">Abouts us</a>
          </li>
        </div>
    </header>
    </div>
    <section class="bg-header">
      <div class="navbar_user--content-text">
        <div class="navbar_user_banner">
            <div class="title">町町信息合作伙伴生态系统</div>
            <div class="subtitle">从我们值得信赖的合作伙伴那里找到更多电子商务解决方案</div>
            <div class="title--btn">与町町信息合作</div>
            <!-- <div>为什么要与町町信息合作？</div> -->
        </div>
      </div>
    </section>
    <section class="Cooperation">
      <div class="Cooperation_content">
          <div class="Cooperation_content--table">
            <div class="table--list active">
              全部
            </div>
            <div class="table--list">
              库存/物流
            </div>
            <div class="table--list">
              付款/税
            </div>
            <div class="table--list">
              论坛/社区
            </div>
          </div>
          <!-- <div class="cooperation--list">
            <div class="container">
              <div class="row">
                <div class="list">
                  <a href="#">
                    <img src="__CDN__/assets/img/faq/brand01.png">
                  </a>
                  <span class="tooltip_content">
                    <?xml version="1.0" encoding="UTF-8"?>
                      <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                        <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
                    </svg>
                    <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
                    <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
                  </span>
                </div>
              </div>
            </div>
          </div> -->
      </div>
    </section>
    <section>
      <div class="container list-content">
        <div class="row">
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
          <div class="list col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
              <img src="__CDN__/assets/img/faq/brand01.png">
            </a>
            <span class="tooltip_content">
              <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
              </svg>
              <h4 style="white-space: pre-wrap;">亚马逊网络服务</h4>
              <div class="tooltip_content--subtitle">町町信息科技有限公司有机会能成为AWS技术合作伙伴</div>
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="videi-box">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img style="max-width: 100%;" src="https://www.bqool.com/wp-content/themes/courtyard/images/worldmap.png">
          </div>
          <div class="col-sm-6 fa_videi" >
              <h2 class="title">为什么与 町町信息技术 合作？</h2>
              <div class="subtitle">BQool 已帮助全球数以千计的亚马逊卖家实现业务自动化、增加销售额并帮助他们取得成功。成为 BQool 的合作伙伴提供了与国际卖家社区建立联系的独特机会，我们可以帮助您：</div>
              <div class="subtitle--button">
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <div class="button-subtitle">增加你的网站访问量</div>
              </div>
              <div class="subtitle--button">
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <div class="button-subtitle">接触新客户</div>
              </div>
              <div class="subtitle--button">
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <div class="button-subtitle">进入中国市场</div>
              </div>
              <div class="subtitle--button">
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <div class="button-subtitle">与海外合作伙伴合作</div>
              </div>
              <div class="subtitle--button">
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
                  <path d="M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z" fill="#ffd510" stroke="#ffd510" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <div class="button-subtitle">有利于对外销售！</div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <footer class="footer_content">
      <div class="footer_content--list">
            <div class="footer_content--header">
              <div class="Follow_us">关注我们</div>
              <div class="Follow_us--list">
                  <i class="icon agency_banner_01"></i>
                  <i class="icon icon_weibo"></i>
                  <i class="icon icon_twitter"></i>
                  <i class="icon icon_in"></i>
              </div>
            </div>
            <div class="footer_content--join_us">
                <ul>
                  <li>Products</li>
                  <li>Support</li>
                  <li>Abouts us</li>
                </ul>
                <div>
                  <img src="__CDN__/assets/img/faq/giige.png">
                </div>
            </div>
            <div class="footer_area">
              <ul>
                <li>法律声明</li>
                <li>阳光准则</li>
                  <li>网站地图</li>
                  <li>粤网文【2017】6138-1456号</li>
                  <li>粤B2-20090059</li>
                  <li>粤公网安备 44030502008569号</li>
              </ul>
              <p>Copyright © 1998 - 2022 Tencent. All Rights Reserved. 町町信息科技有限公司 版权所有</p>
            </div>
      </div>
    </footer>
  </body>
</html>