<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0">
    <title>Abouts_us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/main.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/header.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/footer.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/support_detail2.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/faq/bootstrap.css">

    <script type="text/javascript" src="__CDN__/assets/js/faq/jquery-3.4.0.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/header.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/main.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/support_detail2.js"></script>
    <script type="text/javascript" src="__CDN__/assets/js/faq/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div class="abouts_us">
      <header class="el-header">
        <div class="navbar navbar-dark flex align-center justify-between">
            <div class="navbar--ul collaspse_ul">
                <div class="navbar-logo">
                  <a href="#">
                    <img src="__CDN__/assets/img/faq/logo.png">
                    <span>町町信息科技</span>
                    <span class="to">®</span>
                  </a>
                  
                </div>
                <ul class="navbar_ul--list">
                  <li>
                    <a href="{:url('/')}">Home</a>
                  </li>
                  <li>
                    <a href="{:url('index/index/Support')}">Support</a>
                  </li>
                  <li>
                    <a href="{:url('index/index/Partner')}">Abouts us</a>
                  </li>
                </ul>
            </div>
            <div class="navbar-user flex align-center">
              <a>
                <div class="icon dropleft">
                  <a class="dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-expanded="false"> 
                    <i class="bi bi-globe" ></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="#">简体中文</a>
                    <a class="dropdown-item" href="#">日本语</a>
                    <a class="dropdown-item" href="#">English</a>
                  </div>
                </div>
              </a>
              <a href="{:url('index/user/wmslogin')}" class="login">
                <button>LOGIN</button>
              </a>
              <a href="{:url('index/user/wmsregister')}" class="setup"><button>Set up</button></a>
              <a class="menu" id="toggle">
                <span></span>
              </a>
            </div>
        </div>
        <div class="navbar--list " id="navbar">
          <li>
            <a href="#">Products</a>
          </li>
          <li>
            <a href="#">Resoures</a>
          </li>
          <li>
            <a href="#">Abouts us</a>
          </li>
        </div>
    </header>
    </div>
    <section class="section_content">
      <div class="container">
        <div class="row justify-between align-center container_nav">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="Support.html">文章列表</a></li>
                <li class="breadcrumb-item active" aria-current="page">Release version</li>
              </ol>
            </nav>
            <div class="breadcrumb_search">
              <i class="bi bi-search"></i>
              <input type="input" placeholder="Search">
            </div>
        </div>
      </div>
      <div class="container con_bg">
          <div class="article"></div>
          <header class="Release-header">
            <h2>Getting Started</h2>
          </header>
          <div class="section-tree">
            <section class="release-version">
              <h3><a>First Time User Setup and Basics</a></h3>
              <ul>
                <li><a>First Time Sign up with Fc</a></li>
                <li><a>How to Connect Fc to Seller Central with Amazon MWS?</a></li>
                <!-- <li><a></a></li> -->
            </section>
            <section class="release-version">
              <h3><a>FAQ</a></h3>
              <ul>
                <li><a>How can I get more support?</a></li>
                <li><a>How do I maximize my value using Fc?</a></li>
                <li><a>Is my data safe when I use Fc?</a></li>
                <li><a>When will Fc bill me?</a></li>
                <li><a>I didn't receive an account activation email!</a></li>
              </ul>
            </section>
          </div>
      </div>
    </section>
    <footer class="footer_content">
      <div class="footer_content--list">
            <div class="footer_content--header">
              <div class="Follow_us">关注我们</div>
              <div class="Follow_us--list">
                  <i class="icon agency_banner_01"></i>
                  <i class="icon icon_weibo"></i>
                  <i class="icon icon_twitter"></i>
                  <i class="icon icon_in"></i>
              </div>
            </div>
            <div class="footer_content--join_us">
                <ul>
                  <li>Products</li>
                  <li>Support</li>
                  <li>Abouts us</li>
                </ul>
                <div>
                  <img src="__CDN__/assets/img/faq/giige.png">
                </div>
            </div>
            <div class="footer_area">
              <ul>
                <li>法律声明</li>
                <li>阳光准则</li>
                  <li>网站地图</li>
                  <li>粤网文【2017】6138-1456号</li>
                  <li>粤B2-20090059</li>
                  <li>粤公网安备 44030502008569号</li>
              </ul>
              <p>Copyright © 1998 - 2022 Tencent. All Rights Reserved. 町町信息科技有限公司 版权所有</p>
            </div>
      </div>
    </footer>
  </body>
</html>