<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_id" data-rule="required" data-source="product/index" class="form-control selectpage" name="row[product_id]" type="text" value="{$row.product_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sku')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sku" data-rule="required" class="form-control" name="row[sku]" type="text" value="{$row.sku|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grams')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grams" data-rule="required" class="form-control" name="row[grams]" type="number" value="{$row.grams|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Barcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-barcode" data-rule="required" class="form-control" name="row[barcode]" type="text" value="{$row.barcode|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Compare_at_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-compare_at_price" data-rule="required" class="form-control" step="0.01" name="row[compare_at_price]" type="number" value="{$row.compare_at_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fulfillment_service')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fulfillment_service" data-rule="required" class="form-control" name="row[fulfillment_service]" type="text" value="{$row.fulfillment_service|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-image_id" data-rule="required" data-source="image/index" class="form-control selectpage" name="row[image_id]" type="text" value="{$row.image_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory_item_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory_item_id" data-rule="required" data-source="inventory/item/index" class="form-control selectpage" name="row[inventory_item_id]" type="text" value="{$row.inventory_item_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory_management')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory_management" data-rule="required" class="form-control" name="row[inventory_management]" type="text" value="{$row.inventory_management|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory_policy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory_policy" data-rule="required" class="form-control" name="row[inventory_policy]" type="number" value="{$row.inventory_policy|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory_quantity')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory_quantity" data-rule="required" class="form-control" name="row[inventory_quantity]" type="number" value="{$row.inventory_quantity|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Option_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-option_id" data-rule="required" data-source="option/index" class="form-control selectpage" name="row[option_id]" type="text" value="{$row.option_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:$row.create_time?datetime($row.create_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Update_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[update_time]" type="text" value="{:$row.update_time?datetime($row.update_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delete_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delete_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[delete_time]" type="text" value="{:$row.delete_time?datetime($row.delete_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
